<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Module Configs DI Preference -->
    <preference for="Hibrido\ChangeColor\App\Module\ConfigurationInterface"
                type="Hibrido\ChangeColor\Model\Config\ConfigProvider"/>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="changecolor" xsi:type="object">Hibrido\ChangeColor\Console\Command\ChangeColor</item>
            </argument>
        </arguments>
    </type>
</config>
