<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="Hibrido" translate="label" sortOrder="999">
			<label>Hibrido</label>
		</tab>
		<section id="meta_tag_multi_site" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
			<label>Meta Tag Multi Site</label>
			<tab>Hibrido</tab>
			<resource>Hibrido_MetTagMultiSite::config_hibrido_mettagmultisite</resource>
			<group id="enable" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>Enable</label>
				<field id="meta_tag_multi_site" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Enable</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
			</group>
		</section>
	</system>
</config>
